# Backend Framework
fastapi
hypercorn

# Database
sqlalchemy
alembic>=1.15.1
psycopg2-binary
asyncpg 

# Data Validation & Settings
pydantic[email]
pydantic-settings

# Security & Auth
python-jose[cryptography]
argon2-cffi
passlib

# AI & LangChain
langchain
langchain-openai
langchain-community
openai
sentence-transformers  # embedding 模型
cohere
pypdf
unstructured

# Vector DB & Cache
pinecone
redis

# Utilities
python-dotenv
python-multipart

# Async Task Queue
arq
requests

# Testing
pytest
pytest-cov
httpx

# COS SDK
cos-python-sdk-v5
